os:
  - linux

language: go

go:
  - 1.6
  - 1.7
  - 1.8
  - master

go_import_path: github.com/corywalker/expreduce

script:
  - go test -v ./...

after_success:
  - test -n "$TRAVIS_TAG" && curl -sL https://git.io/goreleaser | bash

notifications:
  email: false
